//------------------ Section Bienvenida ------------------//
.gimnasio-bienvenida{
    margin-top: 66px;
    height: 92vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../assets/imagen-gimnasio.jpg);
    background-position: center;
    background-size: cover;
    &__title{
        font-size: 40px;
        font-weight: bold;
    }
}
//------------------ Section Ubicaciones ------------------//
.card-ubicaciones{
  border: none;
  transition: .6s;
  &:hover{
    transform: scale(1.1, 1.1);
    background-color: $main-color;
    color: $light-color;
    .btn{
      border:solid 1px $light-color;
      color: $light-color;
    }
  }
  .card-img-top {
    @include imagenes-cards(200px, cover, none)
  }
    .btn{
      background: transparent;
      border: solid 2px $main-color;
      font-weight: bold;
    }
  }

  